<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comportement Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link rel="http://lipis.github.io/bootstrap-social.css/">
  </head>
<body>
		<div class="bg-image">
		<style>
			.bg-image {
  background-image: url("img/header.jpg");
  background-color: #cccccc;
height: 768px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-self: stretch;
				
			  }
			
			.heading {
				color: #8A8A74;
				text-decoration-style: solid;
				font-size: 32px;
			}
						  .logo{
				  position: relative;
					  }
			 * {
    box-sizing: border-box;
			}
				  .square {
  height: 620px;
  width: 390px;
  background-color: rgba(255,255,255,0.96);
	border-radius: 20px;
			</style>
<script>
function populate(s1,s2){
	var s1 = document.getElementById(s1);
	var s2 = document.getElementById(s2);
	s2.innerHTML = "";
	if(s1.value == "Travel"){
		var optionArray = ["fashion|Fashion","comfort|Comfort"];
	} else if(s1.value == "Office"){
		var optionArray = ["meeting|Meeting","casual|Casual","startup|Startup"];
	} 
	for(var option in optionArray){
		var pair = optionArray[option].split("|");
		var newOption = document.createElement("option");
		newOption.value = pair[0];
		newOption.innerHTML = pair[1];
		s2.options.add(newOption);
	}
}
</script>
		<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	
<div class="container">
		 
      <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3" align="center"> 
			
  <div><br> 

			<div class="square">
				
											    <div class="logo">
<br>
            <img src="img/logo.png" height="56px"><br> 
	
		<p class="heading">Product Form</p>
		<form method='POST' action = '/send'>
		  <div class='form-group' >
			 
				<table>
				<tr>
				<!--<td>Product Name</td>-->
						
				</tr>

				<tr>
				<!--<td>Description</td>-->
				<td><input type='text' name='desc' placeholder="Description" class="form-control"></td>
				</tr>

				<tr>
				<!--<td>Prize</td>-->
				<td><input type='number' name='prize' placeholder="Prize" class="form-control"></td>
				</tr>

				<tr>
				<!--<td>Sizes</td>-->
				<td><input type='text' name='size' placeholder="Sizes" class="form-control"></td>
				</tr>

				<tr>
				<!--<td>Product Details</td>-->
				<td><input type='text' name='detail' placeholder="Product Details" class="form-control"></td>
				</tr>

				<tr>
				<!--<td>Specification</td>-->
				<td><input type='text' name='spec' placeholder="Specification" class="form-control"></td>
				</tr>

				<tr>
				<!--<td>Seller Name</td>-->
				<td><input type='text' name='s_name' placeholder="Seller Name" class="form-control"></td>
				</tr>
				
				<tr>
				<!--<td>Materials</td>-->
				<td><input type='text' name='mat' placeholder="Materials" class="form-control"></td>
				</tr>
				
				<tr>
				<!--<td>Categories</td>-->
				<!--<td>Categories</td>-->
				<td><select id='category' class="form-control" name='categ' onchange="populate(this.id,'slct2')">
						<option selected disabled hidden>-select-</option>
						<option value = 'Travel'>Travel</option>
						<option value = 'Office'>Office</option>
					</select>
				</td>
				</tr>

				<tr>
				<!--<td>Sub-Category</td>-->
				<td><select id="slct2" class="form-control" name="sub-cat">
					<option selected disabled hidden>-select-</option>
				</select>
				</td>
				</tr>

				<tr>
				<!--<td>Image</td>-->
				<td><input type='file' class="form-control" name='img'></td>
				</tr>

			</table>
			</div>
			<input type='image' src='img/submit.png' value='submit' width="160" height="35">
													</form> </div> </div> </div> 
	</body>
</html>